<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<servlet>
		<servlet-name>qrservlet</servlet-name>
		<servlet-class>com.droidcluster.todo.server.QRServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>qrservlet</servlet-name>
		<url-pattern>/qr</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>todoservlet</servlet-name>
		<servlet-class>com.droidcluster.todo.server.NotesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>todoservlet</servlet-name>
		<url-pattern>/notes/*</url-pattern>
	</servlet-mapping>

</web-app>
